/* 
label: Champaign
value: champaign 
*/

:root[data-theme-preset="champaign"] {
  --radius: 0.75rem;
  --background: #ffffff;
  --foreground: #464647;
  --card: #ffffff;
  --card-foreground: #464647;
  --popover: #ffffff;
  --popover-foreground: #464647;
  --primary: #917e2e;
  --primary-foreground: #ffffff;
  --secondary: #d6d8e1;
  --secondary-foreground: #464647;
  --muted: #777778;
  --muted-foreground: #777778;
  --accent: #d4af37;
  --accent-foreground: #ffffff;
  --destructive: #ff4c5b;
  --border: #777778;
  --input: #777778;
  --ring: #d4af37;
  --chart-1: #917e2e;
  --chart-2: #d4af37;
  --chart-3: #d6d8e1;
  --chart-4: #777778;
  --chart-5: #464647;
  --sidebar: #ffffff;
  --sidebar-foreground: #464647;
  --sidebar-primary: #917e2e;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #d4af37;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #777778;
  --sidebar-ring: #d4af37;
}

.dark:root[data-theme-preset="champaign"] {
  --background: #0a0f21;
  --foreground: #ffffff;
  --card: #121418;
  --card-foreground: #ffffff;
  --popover: #121418;
  --popover-foreground: #ffffff;
  --primary: #917e2e;
  --primary-foreground: #ffffff;
  --secondary: #464647;
  --secondary-foreground: #ffffff;
  --muted: rgba(255, 255, 255, 0.7);
  --muted-foreground: rgba(255, 255, 255, 0.7);
  --accent: #d4af37;
  --accent-foreground: #0a0f21;
  --destructive: #ff4c5b;
  --border: #777778;
  --input: #777778;
  --ring: #d4af37;
  --chart-1: #917e2e;
  --chart-2: #d4af37;
  --chart-3: #464647;
  --chart-4: rgba(255, 255, 255, 0.7);
  --chart-5: #ffffff;
  --sidebar: #121418;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #917e2e;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #d4af37;
  --sidebar-accent-foreground: #0a0f21;
  --sidebar-border: #777778;
  --sidebar-ring: #d4af37;
}
